/* while moving hover a line, change background */
.table tr {
  background-color: #ffffff;
}

.table tr:hover {
  background-color: #f0f0f0;
}

/* the overlay is not visible */
span.overlay {
  visibility: hidden;
}

/* hidden elements */
.hidden {
  display: none;
}
